CONFIG_SCHED_CORE_CTL=y
CONFIG_HIGHMEM=y
CONFIG_AW8624_HAPTIC=y
# CONFIG_INPUT_MOUSEDEV is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_v26 is not set
CONFIG_TOUCHSCREEN_CYPRESS_CYTTSP5_OPPO=y
CONFIG_TOUCHSCREEN_CYPRESS_CYTTSP5_DEVICETREE_SUPPORT=y
CONFIG_TOUCHSCREEN_CYPRESS_CYTTSP5_I2C=y
CONFIG_TOUCHSCREEN_CYPRESS_CYTTSP5_DEVICE_ACCESS=y
CONFIG_TOUCHSCREEN_CYPRESS_CYTTSP5_LOADER=y
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX is not set
# CONFIG_TOUCHSCREEN_FTS is not set
# CONFIG_INPUT_QTI_HAPTICS is not set
CONFIG_SERIAL_MSM=y
CONFIG_SERIAL_MSM_CONSOLE=y
# CONFIG_SERIAL_MSM_HS is not set
# CONFIG_SPI_SPIDEV is not set
# CONFIG_FB_MSM_MDSS_XLOG_DEBUG is not set
# CONFIG_USB_CONFIGFS_EEM is not set
# CONFIG_USB_CONFIGFS_F_PTP is not set
# CONFIG_USB_CONFIGFS_F_HID is not set
# CONFIG_USB_CONFIGFS_F_CCID is not set
CONFIG_MSM_PERFORMANCE=y
# CONFIG_MSM_GLINK_BGCOM_XPRT is not set
# CONFIG_MSM_BGCOM_INTERFACE is not set
# CONFIG_MSM_BGRSB is not set
# CONFIG_MSM_PIL_SSR_BG is not set
# CONFIG_MSM_BGCOM is not set
# CONFIG_SENSORS_SSC is not set
CONFIG_OPPO=y
CONFIG_OPPO_LCD_MODIFY=y
CONFIG_OPPO_TP_MODIFY=y
CONFIG_OPPO_CHARGING_MODIFY=y
CONFIG_OPPO_POWER_MODIFY=y
CONFIG_OPPO_DUAL_SYS_COMM_MODIFY=y
CONFIG_OPPO_AUDIO_MODIFY=y
CONFIG_OPPO_WIFI_MODIFY=y
CONFIG_OPPO_BT_MODIFY=y
CONFIG_OPPO_NFC_MODIFY=y
CONFIG_OPPO_SENSOR_MODIFY=y
CONFIG_OPPO_MOTOR_MODIFY=y
CONFIG_OPPO_PRODUCTION_TEST_MODIFY=y
CONFIG_OPPO_GPS_MODIFY=y
CONFIG_OPPO_COMMON_SOFT=y
CONFIG_OPPO_SHUTDOWN_DETECT=y
CONFIG_REGULATOR_FAN49103=y
